/*
ROJO = #C30
VERDE= #9C3
VERDECOBALTO=#189
*/
header{ 
	background: #999; 
	height: 150px; 
}

div.sesion{ 
	width: 27em;
  	position: relative;
	bottom:0.1em;
	right:0.5em;
	left:1em;
  }

div.principal{ 
	background: none repeat scroll 0 0 #9DE;
   	 margin: 0 auto;
	 width: 34.5em;
  	 position: relative;
	 border-color:#189;
	border-style: solid;
	margin-top:20px;
	min-height:20em;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
  }
  
div.principal p{ 
	color: #027;
	font-family: 'Gill Sans MT'; 
	text-align: right;
	font-size: 1.5em;
	padding-right:1em;
	}


header h1{ 	
	font-family: 'Gill Sans MT'; 
	margin:0; 
	text-align: center;
	padding-top: 0.3em; 
	font-size:2.5em;
	color:#fff;
	}
	
	
	
content{ 
	background-color:#fff;
	display: block; 
	height: 350px; 

	}


div.formClave{ 
	background: none repeat scroll 0 0 #9C3;
   	 margin: 0 auto;
 	 padding: 1em;
	 width: 30em;
  	 position: relative;
	 border-color:#C30;
	border-style: solid;
	margin-top:30px;
	

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
  }

div.formClave h1{
	font-family:"Gill Sans MT";
	font-size:1.5em;
	text-align:center;
	color:#000;
	
}


div.formClave p{ 
	color: #000;
	font-family: 'Gill Sans MT'; 
	text-align: right;
	font-size: 1.5em;
	padding-right:4em;
	}	
	

.boton1{
background-color:#189;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
padding-right:10px;
font-size:18px;
font-family: 'Gill Sans MT';

border-color:#666;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}



/* Diseño tableta: de 481 px a 768 px. Hereda estilos de: Diseño móvil. */

@media only screen and (min-width: 481px) {

header h1{ 	
	margin:0; 
	text-align: center;
	padding-top: 0.3em; 
	font-size:2em;
	}
	
section{ 	 
	min-height: 100px; 
	overflow: hidden;
	background-color:#99DDEE;
}

}

/* Diseño escritorio: de 769 px hasta un máximo de 1232 px.  Hereda estilos de: Diseño móvil y Diseño tableta. */

@media only screen and (min-width: 769px) {


header h1{ 	
	margin:0; 
	text-align: center;
	padding-top: 1em; 
	padding-right: 1.5em;
	font-size:2em;
	}
	
section{ 	 
	min-height: 80px; 
	overflow: hidden;
	background-color:#99DDEE;
}

div.Secundario{ 
	background-color:#999;
  }

}
footer{ 
	 position: relative; /* Altura total del footer en px con valor negativo */
	  margin-top: 100px; /* Altura del footer en px. Se han restado los 5px del margen superior mas los 5px del margen inferior */ height: 40px; padding:5px 0px;
	   clear: both; background: #286af0;
	    text-align: center; color: #fff; } /* Esta clase define la anchura del contenido y la posicion centrada El contenido queda centrado y limitado, pero la cabecera y el pie llegan hasta los limites del navegador. */ .define { width:960px; margin:0 auto; }
	
}

